@model IList<App.Web.Model.ViewModel.ThemeMarkViewModel.ThemeMarkViewModel>
@{
    ViewData["Title"] = "_GetTMarksByUserId";
}
@foreach(var item in Model)
{
    <div>
        @item.ThemeName @item.Mark @item.Comment
    </div>
}
