@model App.Web.Models.ComplexViewModel.General.CurrentUserDataViewModel
@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid">
    <div class="row">
        @await Html.PartialAsync("../GeneralViews/_Menu")
        <div class="col-10">
            <div class="tab-content" id="v-pills-tabContent">
                @await Html.PartialAsync("../GeneralViews/_Profile", Model.PersonalData)
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#divTMarks" role="tab" aria-controls="nav-home" aria-selected="true">Theme Marks</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#divEMarks" role="tab" aria-controls="nav-profile" aria-selected="false">Exam Marks</a>
                        </div>
                    </nav>
                    <div class="container-fluid text-center">
                        <div class="row bg-first">
                            <p>
                                My problem is that after translating up the image, the div that contains it remains
                                unchanged, and has lots of white space in the place where the image used to be.
                            </p>
                        </div>
                        <div class="tab-content" id="nav-tabContent">
                            @await Html.PartialAsync("_Marks", Model)
                        </div>
                    </div>
                </div>
                @await Html.PartialAsync("../GeneralViews/_Comments", Model)
                @await Html.PartialAsync("../GeneralViews/_Settings", Model.PersonalData)
            </div>
        </div>
    </div>
</div>

<script src="~/js/Calendar.js"></script>
<script src="~/js/Ajaxs.js"></script>
