@model App.Web.Models.ComplexViewModel.Admin.AdminDataViewModel
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>

<head>
    <title>My App</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>

    <!-- <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/UserStyle.css"> -->
</head>

<body>
    <div class="row" style="width:100%">
        @await Html.PartialAsync("../GeneralViews/_Menu")
        <div class="col-10">
            <div class="tab-content" id="v-pills-tabContent">
                @await Html.PartialAsync("../GeneralViews/_Profile", Model.Data.PersonalData)
                @await Html.PartialAsync("_Monitoring", Model)
                @await Html.PartialAsync("../GeneralViews/_Comments", Model.Data)
                @await Html.PartialAsync("../GeneralViews/_Settings", Model.Data.PersonalData)
            </div>
        </div>
    </div>
    <script>
        $('#myTab a[href="#profile"]').tab('show') // Select tab by name
        $('#myTab li:first-child a').tab('show') // Select first tab
        $('#myTab li:last-child a').tab('show') // Select last tab
        $('#myTab li:nth-child(3) a').tab('show')
    </script>
</body>
</html>