@model App.Web.Models.ComplexViewModel.Admin.AdminDataViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="row" style="width:100%">
    @await Html.PartialAsync("../GeneralViews/_Menu")
    <div class="col-10">
        <div class="tab-content" id="v-pills-tabContent">
            @await Html.PartialAsync("../GeneralViews/_Profile", Model.Data.PersonalData)
            @await Html.PartialAsync("_Monitoring", Model)
            @await Html.PartialAsync("../GeneralViews/_Comments", Model.Data)
            @await Html.PartialAsync("../GeneralViews/_Settings", Model.Data.PersonalData)
        </div>
    </div>
</div>
<script>
    $('#myTab a[href="#profile"]')
    $('#myTab li:first-child a')
    $('#myTab li:last-child a')
    $('#myTab li:nth-child(3) a')
</script>