
@{
    ViewData["Title"] = "About";
}

<head>
    <link rel="stylesheet" href="~/css/styleAbout.css" >
</head>
<body>
    <div style="height:100px;">

    </div>
    <div class="container-fluid">
        <div class="row text-center bg-first">
        </div>
        <div class="text-center align-center" style="margin:100px; margin-bottom:150px;">
            <p>
                <span class="text-danger">Jora –</span>
                <span class="text-danger">fuji dupa iarba </span><br>
                <span>de fiecare data</span>
                <span class="text-success">la dinsu in gradina </span><br>
                <span>afara plua si ninge</span>
                <span class="text-warning">cind vre.</span>
            </p>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-6 foto1">
            </div>
            <div class="col-md-12 col-lg-6">
                <p>
                    Madonna and Child with Angels is the central panel of the large multi-paneled
                    altarpiece produced by Masaccio for the chapel of Saint Julian in the church
                    of Santa Maria del Carmine in Pisa, Italy. The panel, which is badly damaged
                    and smaller than its original size, was produced in collaboration with Masaccio's
                    <br><br>
                    Madonna and Child with Angels is the central panel of the large multi-paneled
                    altarpiece produced by Masaccio for the chapel of Saint Julian in the church
                    of Santa Maria del Carmine in Pisa, Italy. The panel, which is badly damaged
                    <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <p>
                    Madonna and Child with Angels is the central panel of the large multi-paneled
                    altarpiece produced by Masaccio for the chapel of Saint Julian in the church
                    of Santa Maria del Carmine in Pisa, Italy. The panel, which is badly damaged
                    and smaller than its original size, was produced in collaboration with Masaccio's
                    <br><br>
                    Madonna and Child with Angels is the central panel of the large multi-paneled
                    altarpiece produced by Masaccio for the chapel of Saint Julian in the church
                    of Santa Maria del Carmine in Pisa, Italy. The panel, which is badly damage
                    <br>
            </div>
            <div class="col-md-12 col-lg-6 foto2">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-6 foto1">
            </div>
            <div class="col-md-12 col-lg-6">
                <p>
                    Madonna and Child with Angels is the central panel of the large multi-paneled
                    altarpiece produced by Masaccio for the chapel of Saint Julian in the church
                    of Santa Maria del Carmine in Pisa, Italy. The panel, which is badly damaged
                    and smaller than its original size, was produced in collaboration with Masaccio's
                    <br><br>
                    Madonna and Child with Angels is the central panel of the large multi-paneled
                    altarpiece produced by Masaccio for the chapel of Saint Julian in the church
                    of Santa Maria del Carmine in Pisa, Italy. The panel, which is badly damaged

                    <br>
            </div>
        </div>
    </div>
    <figure>
        <div class="fixed-wrap">
            <div id="fixed">

            </div>
        </div>
    </figure>
    <div class="container-fluid">
        <div class="col-12">
            <h4>Something</h4>
            <hr>
            <p>
                Madonna and Child with Angels is the central panel of the large multi-paneled
                altarpiece produced by Masaccio for the chapel of Saint Julian in the church
                of Santa Maria del Carmine in Pisa, Italy. The panel, which is badly damaged
                and smaller than its original size, was produced in collaboration with Masaccio's
                <br><br>
                Madonna and Child with Angels is the central panel of the large multi-paneled
                altarpiece produced by Masaccio for the chapel of Saint Julian in the church
                of Santa Maria del Carmine in Pisa, Italy. The panel, which is badly damaged
        </div>
    </div>
    </body>