@{
    ViewData["Title"] = "Home Page";
}
<div>
    <div id="header" class="text-center">
        <a href="#" id="logo">Welcome</a>
        
        <div>
            <ul id="menu">
                <li><a asp-controller="Home" asp-action="About"><span>About</span></a></li>
                <li><a asp-controller="Home" asp-action="Contacts"><span>Contact</span></a></li>
                <li><a asp-controller="Home" asp-action="DashBoard"><span>Profile</span></a></li>
            </ul>
        </div>
    </div>
    <hr>
    <div id="but" class="container-fluid padding ShowUp">
        <div class="row padding">
            <div class="offset-lg-2 col-lg-4">
                <h2>Ceva informatie</h2>
                <p>
                    Madonna and Child with Angels is the central panel of the large multi-paneled
                    altarpiece produced by Masaccio for the chapel of Saint Julian in the church
                    of Santa Maria del Carmine in Pisa, Italy. The panel, which is badly damaged
                    and smaller than its original size, was produced in collaboration with Masaccio's
                    <br><br>
                    Madonna and Child with Angels is the central panel of the large multi-paneled
                    altarpiece produced by Masaccio for the chapel of Saint Julian in the church
                    of Santa Maria del Carmine in Pisa, Italy. The panel, which is badly damaged

                    <br><br>
                    Madonna and Child with Angels is the central panel of the large multi-paneled

                    <br>
                    <a href="#" class="btn btn-danger">Read More</a>
                </p>
            </div>
            <div class="col-lg-6">
                <br>
                <img src="~/imgs/foto1.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
    <figure>
        <div class="fixed-wrap">
            <div id="fixed">
            </div>
        </div>
    </figure>

    <div class="container-fluid padding">
        <div class="row aler text-center">
            <div class="col-12">
                <h1 class="display-4">Something</h1>
                <hr>
            </div>
        </div>
    </div>

    <div class="container padding">
        <div class="row padding">
            <div class="col-md-4 ShowUp">
                <div class="card">
                    <img src="https://ribalych.ru/wp-content/uploads/2019/03/26-foto-predmetov_001.jpg"
                         class="card-img-top" alt="">
                    <div class="card-body">
                        <h4 class="card-title">UNREAL ENGINE</h4>
                        <p class="card-text">
                            We use cookies to offer you a better browsing experience, analyze site traffic, and personalize content.
                            Read about how we use cookies and how you can control them by visiting our Cookie Settings page.
                            If you continue to use this site, you consent to our use of cookies.
                        </p>
                        <a href="#" class="btn btn-warning">Watch</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ShowUp">
                <div class="card">
                    <img src="https://g1.nh.ee/images/pix/1000x654/UmKMVVvVqTk/72a935c9dc964233f3-85752089.jpg"
                         class="card-img-top" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Other</h4>
                        <p class="card-text">
                            We use cookies to offer you a better browsing experience, analyze site traffic, and personalize content.
                            Read about how we use cookies and how you can control them by visiting our Cookie Settings page.
                            If you continue to use this site, you consent to our use of cookies.
                        </p>
                        <a href="#" class="btn btn-warning">Watch</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 ShowUp">
                <div class="card ShowUp">
                    <img src="https://image.freepik.com/free-vector/bokeh-lights-glitter-background_1048-8548.jpg"
                         class="card-img-top" alt="">
                    <div class="card-body">
                        <h4 class="card-title">Other2</h4>
                        <p class="card-text">
                            We use cookies to offer you a better browsing experience, analyze site traffic, and personalize content.
                            Read about how we use cookies and how you can control them by visiting our Cookie Settings page.
                            If you continue to use this site, you consent to our use of cookies.
                        </p>
                        <a href="#" class="btn btn-warning">Watch</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
