@*@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>*@

@*<p>Use this page to detail your site's privacy policy.</p>*@
<footer class="container-fluid" id="footer">
    <div class="container-fluid">
        <div class="row padding text-center">
            <div class="col-12">
                <h2>Our Contacts</h2>
            </div>
            <div class="col-12 social padding">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>
</footer>