@model App.Web.Models.ViewModel.ThemeViewModel.AddThemeViewModel
@{
    ViewData["Title"] = "AddTheme";
}
<!Doctype html>
<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    </head>
<body>
    <h1>AddTheme</h1>

    <form method="post" asp-action="AddTheme" asp-controller="Intern" class="form">
        <div asp-validation-summary="ModelOnly">

        </div>
        <label asp-for="Name"></label><br />
        <input asp-for="Name" /><br />
        <span asp-validation-for="Name" clas="text-danger" ></span><br />
        <label asp-for="ModuleId"></label><br />
        <input asp-for="ModuleId" /><br />
        <span clas="text-danger" asp-validation-for="ModuleId"></span><br />
        <label asp-for="MenthorId"></label><br />
        <input asp-for="MenthorId" /><br />
        <span clas="text-danger" asp-validation-for="MenthorId"></span><br />
        <label asp-for="Source"></label><br />
        <input asp-for="Source" /><br />
        <span clas="text-danger" asp-validation-for="Source"></span><br />
        <label asp-for="TimeOfTheme"></label><br />
        <input asp-for="TimeOfTheme" /><br />
        <span clas="text-danger" asp-validation-for="TimeOfTheme"></span><br />
        <button class="btn btn-success" type="submit">Send</button>
    </form>
</body>
</html>