@model App.Web.TEST.MyModel
@{
    ViewData["Title"] = "FormExample";
}
@*@section scripts{*@


@*<form asp-controller="Intern" asp-action="FormExample" data-ajax="true" data-ajax-method="post" data-ajax-complete="mehtod">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <label asp-for="Name"></label><br />
    <input asp-for="Name" id="name" /><br />
    <span asp-validation-for="Name" class="text-danger"></span><br />
    <label asp-for="Email"></label><br />
    <input asp-for="Email" id="email" /><br />
    <span asp-validation-for="Email" class="text-danger"></span><br />
    <label asp-for="Password"></label><br />
    <input asp-for="Password" id="password" /><br />
    <span asp-validation-for="Password"></span><br />
    <label asp-for="ConfirmPassword"></label><br />
    <input asp-for="ConfirmPassword" id="confirmPassword" /><br />
    <span asp-validation-for="ConfirmPassword" class="text-danger"></span><br />
    <label asp-for="Gender"></label><br />
    <input asp-for="Gender" type="radio" value="Masculin" id="Gender" /><br />
    <input asp-for="Gender" type="radio" value="Femenin" id="Gender" /><br />
    <span asp-validation-for="Gender" class="text-danger"></span><br />
    @*<label asp-for="Languages"></label>
        @foreach (var item in Model.Languages)
        {
                <input type="checkbox" value="item.Name"/>@item.Name
        }
        <span asp-validation-for="Languages"></span>*@
    @*<label asp-for="Country"></label><br />
    <select asp-for="Country" id="country">
        <br />
        <option value="Moldova">Moldova</option>
        <br />
        <option value="Romania">Romania</option>
        <br />
        <option value="Germania">Germania</option>
        <br />
    </select><br />
    <span asp-validation-for="Country" class="text-danger"></span><br />
    <label asp-for="ExperienceYear" id="Experience"></label><br />
    <input asp-for="ExperienceYear" /><br />
    <span asp-validation-for="ExperienceYear" class="text-danger"></span><br />
    <input type="submit" id="trimite" />
</form>*@
<form action="/Intern/FormExample" method="post">
    <input type="text" id="Name" name="Name" required /><br />
    <input type="email" id="Email" name="Email" required /><br />
    <input type="password" id="Password" name="Password" required /><br />
    <input type="password" id="ConfirmPassword" name="ConfirmPassword" required /><br />
    <input type="radio" id="Gender" name="Gender" value="femenin" required />femenin<br />
    <input type="radio" id="Gender" name="Gender" value="masculin" required />masculin<br />
    <input type="number" id="Experience" name="ExperienceYear" required /><br />
    <select id="Country" name="Country">
        <option value="Moldova">Moldova</option>
        <option value="Romania">Romania</option>
        <option value="Ucraina">Ucraina</option>
    </select>
    <input type="submit" />
</form>
<div></div>
<script>
    var mehtod = function () {
        alert("SUCCESS");
    }
    $(document).ready(function () {
        $("#trimite").bind("click", function () {
            $.ajax({
                url: "/intern/formexample",
                type: "post",
                datatype: "json",
                data: json({
                    Name: $("#Name").val(),
                    Email: $("#Email").val(),
                    Password: $("#Password").val(),
                    ConfirmPassword: $("#ConfirmPassword").val(),
                    Gender: $("#Gender").val(),
                    ExperienceYear: $("#Experience").val()
                }),
                success: function () {
                    alert("success");
                },
                error: function () {
                    alert("failure");
                }

            });
        });
    });
</script>