@model App.Web.Models.ComplexViewModel.General.CurrentUserDataViewModel
@{
    ViewData["Title"] = "Index";
}
<div class="container-fluid">
    <div class="row">
        @await Html.PartialAsync("../GeneralViews/_Menu")
        <div class="col-md-10 col-xs-12">
            <div class="tab-content" id="v-pills-tabContent">
                @await Html.PartialAsync("../GeneralViews/_Profile", Model.PersonalData)
                @await Html.PartialAsync("_Marks", Model)
                @await Html.PartialAsync("../GeneralViews/_Comments", Model)
                @await Html.PartialAsync("../GeneralViews/_Settings", Model.PersonalData)
            </div>
        </div>
    </div>
</div>
<script src="~/js/Calendar.js"></script>
