@model App.Web.Models.ViewModel.UserViewModel.UserDetailedViewModel
@{
    ViewData["Title"] = "Profile";
}

<div class="tab-pane fade show active row" id="v-pills-home" role="tabpanel"
     aria-labelledby="v-pills-home-tab">

    <div id='calendar'></div>

</div>

