@using Microsoft.AspNetCore.Identity
@using App.Data.Domain.DomainModels.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CustomIdentityApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
    @*<script src="~/lib/jquery-validation-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>*@
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/UserStyle.css" />
    <link rel="stylesheet" href="~/js/Chart.min.css" />

    <link rel="stylesheet" href="~/css/font.css" />
    <link rel="stylesheet" href="~/css/header.css" />

    <script src="~/js/Chart.min.js"></script>


    <link href='~/Calendar/assets/css/fullcalendar.css' rel='stylesheet' />
    @*<link href='~/Calendar/assets/css/fullcalendar.print.css' rel='stylesheet' media='print' />*@
    @*<script src='~/Calendar/assets/js/jquery-1.10.2.js' type="text/javascript"></script>*@
    @*<script src='~/Calendar/assets/js/jquery-ui.custom.min.js' type="text/javascript"></script>*@
    <script src='~/Calendar/assets/js/fullcalendar.js' type="text/javascript"></script>
    <style>
        #nav-menu{
            border:1px solid white;
            border-radius:5px;
            margin:10px;
        }
    </style>
</head>
<body>
    <div id="nav-menu">
        <nav class="navbar navbar-expand-md  sticky-top">
            <div class="container-fluid">
                <h4><a href="/" class="navbar-brad">Internship</a></h4>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                    <span class="navbar-toggler-icon">
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto" id="menuId">
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Home" asp-action="About" class="nav-link">About</a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Home" asp-action="Contacts" class="nav-link">Contacts</a>
                        </li>
                        @if (!SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item active isLoggedIn">
                                <a href="~/identity/account/register" class="nav-link">Register</a>
                            </li>
                            <li class="nav-item active isLoggedIn">
                                <a href="~/identity/account/login" class="nav-link">Log In</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item active isLoggedOut">
                                    <a href="~/Home/DashBoard" class="nav-link"><span class="text-primary">Hi @UserManager.GetUserName(User)</span></a>
                            </li>
                            <li class="nav-item isLoggedOut">
                                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout">
                                    <button id="logout" type="submit" class="nav-link btn btn-link text-dark"><span class="text-danger"><span class="text-danger">Log Out</span></button>
                                </form>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <partial name="_CookieConsentPartial" />

    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2019 - myappjora</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
